p{
    margin-top: .5em;
}
h1{ 
    font-size: 3em;
    font-weight: extrabold;
}
h2{ 
    font-size: 1.5em;
    font-weight: bold;
    opacity: .5; 
}
body{
    --font: 'Satoshi', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}